<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Atividade 4</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <section>
    <header class="glass-card">
      <nav>
        <ul>
          <li><a href="{{ url_for('index.html') }}">Home</a></li>
          <li><a href="{{ url_for('page2.html') }}">Home</a></li>
        </ul>
      </nav>
    </header>
    <div id="gradient"></div>
    <h1>Página Inical</h1>
  </section>
</body>

</html>